WhatsApp_Google_Sheet.json
{
  "name": "Consulta Clientes WhatsApp MegaAPI",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "24aa4532-80db-4c1e-977a-0036b82a8e5f",
              "leftValue": "={{ $json.body.isEdit }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "204f54b0-e3ed-4ff4-8302-8c20d3b8aa78",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "130cc493-a17a-4cc1-955b-816799583076",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "c51986d9-f347-4198-89bb-9e4cd0f021c9",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "ac9c4286-34d7-4058-9bbb-985bd9c2b6e7",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3801c91-51bf-4a6c-a1d8-7760cd3fa39a",
      "name": "Filtro Inicial Mensagens",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        520,
        -165
      ]
    },
    {
      "parameters": {},
      "id": "087ab397-0dd2-48fe-a212-2e652bdf1103",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4420,
        -320
      ]
    },
    {
      "parameters": {
        "content": "## Gatilho\n",
        "height": 235.12669720206657,
        "width": 229.01065895241982
      },
      "id": "d67d68ce-1a10-4493-be9e-c52c3d043029",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        235.5,
        -240
      ]
    },
    {
      "parameters": {
        "content": "## Gestão de usuários e conversas\n",
        "height": 353,
        "width": 1252,
        "color": 4
      },
      "id": "3f6347d2-f111-47ad-9d63-b658bff36d29",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        484,
        -283
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69f6217f-9063-423f-abf4-e94f6b70f94e",
              "name": "ClienteNome",
              "value": "={{ $json.body.pushName.trim() }}",
              "type": "string"
            },
            {
              "id": "9f488c5c-0b3b-48e9-87b1-5a22d513d1ec",
              "name": "ClienteTelefone",
              "value": "={{ $json.body.key.remoteJid.split('@')[0].replace(/\\D/g, '').trim() }}",
              "type": "string"
            },
            {
              "id": "1ae1a51c-00cb-47f9-8dc8-5a05c66fc0c8",
              "name": "Mensagem",
              "value": "={{ $json.body.message?.conversation || $json.body.message?.extendedTextMessage?.text || \"Mensagem não encontrada\" }}",
              "type": "string"
            },
            {
              "id": "e94e6a60-b7c0-4128-8414-7fa5ade8c494",
              "name": "TipoMsg",
              "value": "={{ $json.body.messageType }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "id": "3eed41c7-a26f-4284-b558-d425677368fa",
      "name": "Simplificação de Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -165
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Simplificação de Dados').item.json.ClienteTelefone }}",
        "contextWindowLength": 0
      },
      "id": "531f8c8b-8ac7-4218-958e-d9707b6b8265",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        3528,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bd7350e8-d230-4840-be31-ace2fcd95802",
      "name": "Cliente Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1180,
        -165
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "id": "03b11875-91e6-47c3-9b3e-1c678616b9b0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1620,
        -165
      ]
    },
    {
      "parameters": {
        "content": "## Agente IA",
        "height": 455,
        "width": 398,
        "color": 5
      },
      "id": "66d76fb8-c4be-44bf-af8d-b06d0713e842",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3300,
        -340
      ]
    },
    {
      "parameters": {
        "content": "## Respondendo WhatsApp em texto",
        "height": 292,
        "width": 568,
        "color": 7
      },
      "id": "17dff2aa-6e41-4275-b7f6-841e482185aa",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4080,
        -420
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{$json.Mensagem}}",
        "options": {
          "systemMessage": "Você é o melhor vendedor do mundo.\nEm toda interação tente vender algo relacionado ao que usuário falou, de forma engraçada e persuasiva para o usuário."
        }
      },
      "id": "791b5707-9316-473f-bb3e-0fe81fe22158",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3380,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tbUsuario",
        "filters": {
          "conditions": [
            {
              "keyName": "celular",
              "keyValue": "={{ $('Simplificação de Dados').item.json.celular }}"
            }
          ]
        }
      },
      "id": "ccea3d22-7365-43bc-95ca-2956af4cc5e7",
      "name": "Encontrar Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        -165
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Hjh0ZhCOA9Wb7jt8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "tbUsuario",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Simplificação de Dados').item.json.ClienteNome }}"
            },
            {
              "fieldId": "celular",
              "fieldValue": "={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"
            }
          ]
        }
      },
      "id": "3e337ec4-1315-4147-8017-30a2fa158b5e",
      "name": "Criar Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        -90
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Hjh0ZhCOA9Wb7jt8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "megaapi",
        "options": {}
      },
      "id": "d5b4f593-459c-4225-8038-6664d8284956",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        -165
      ],
      "webhookId": "bc978142-377f-4daf-b31e-3390dc1be1df"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Simplificação de Dados').item.json.TipoMsg }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1094f332-5529-425f-96fd-de61a62dd500"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de38ab3c-a7cc-4ac4-a5b4-0cfbe1a18338",
                    "leftValue": "={{ $('Simplificação de Dados').item.json.TipoMsg }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1b329c2-6307-43c1-a8f1-8595706a8c83",
                    "leftValue": "={{ $('Simplificação de Dados').item.json.TipoMsg }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08ae1783-57ba-4b25-8225-21a00992955d",
                    "leftValue": "={{ $('Simplificação de Dados').item.json.TipoMsg }}",
                    "rightValue": "videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1840,
        -186
      ],
      "id": "df1d6f11-cd33-46cf-bc93-8c016e1d73b7",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e03d4bc-7a57-42f3-9a96-eb945be76cc0",
              "name": "data",
              "value": "={{ $json.data.split(',')[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        -440
      ],
      "id": "6b210698-24c6-411d-94ac-20f5dfba9898",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a08e789e-dd10-401f-a865-d3ed96c6ab0d",
              "name": "Mensagem",
              "value": "={{ $('Simplificação de Dados').item.json.Mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        -240
      ],
      "id": "68d3082d-98a0-4171-be7e-b84913732107",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2060,
        -90
      ],
      "id": "ad6e9faf-c647-473c-acbf-37ba6f3e5a5f",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "imagem.jpg",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2500,
        -440
      ],
      "id": "bff1f0a8-6f47-42a1-a694-eadbca47e1a4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "O que é essa imagem?",
        "inputType": "base64",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2720,
        -440
      ],
      "id": "2884b7bb-625c-4e4c-bf12-0bf5aac72717",
      "name": "Analisar imagem",
      "credentials": {
        "openAiApi": {
          "id": "VIKYtaXJmvOHWvur",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac87c995-b52f-4521-94dd-409531c7d188",
              "name": "Mensagem",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        -440
      ],
      "id": "06e255d1-ba7e-4988-8de6-d1ff636739a5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3160,
        -240
      ],
      "id": "f464f14b-71ce-4999-95f4-fb25c16c2da3",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinocode01.megaapi.com.br/rest/instance/downloadMediaMessage/megacode-MHB2RjOESdc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MHB2RjOESdc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messageKeys\": {\n        \"mediaKey\": \"{{ $('Webhook').item.json.body.message.imageMessage.mediaKey }}\",\n        \"directPath\": \"{{ $('Webhook').item.json.body.message.imageMessage.directPath }}\",\n        \"url\": \"{{ $('Webhook').item.json.body.message.imageMessage.url }}\",\n        \"mimetype\": \"{{ $('Webhook').item.json.body.message.imageMessage.mimetype }}\",\n        \"messageType\": \"image\"\n    }\n}",
        "options": {}
      },
      "id": "b8f13603-0da8-4b8f-845c-ec03a19580e5",
      "name": "downloadMediaMessage (imagem)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinocode01.megaapi.com.br/rest/instance/downloadMediaMessage/megacode-MHB2RjOESdc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MHB2RjOESdc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messageKeys\": {\n        \"mediaKey\": \"{{ $('Webhook').item.json.body.message.audioMessage.mediaKey }}\",\n        \"directPath\": \"{{ $('Webhook').item.json.body.message.audioMessage.directPath }}\",\n        \"url\": \"{{ $('Webhook').item.json.body.message.audioMessage.url }}\",\n        \"mimetype\": \"{{ $('Webhook').item.json.body.message.audioMessage.mimetype }}\",\n        \"messageType\": \"audio\"\n    }\n}",
        "options": {}
      },
      "id": "a5c81e65-5c10-43f0-9a6d-26fcb3d03caa",
      "name": "downloadMediaMessage (audio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e03d4bc-7a57-42f3-9a96-eb945be76cc0",
              "name": "data",
              "value": "={{ $json.data.split(',')[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        120
      ],
      "id": "172a019b-7c8e-4f2a-ba67-80bec7f82f32",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "audio.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2500,
        110
      ],
      "id": "e3b3d3af-463b-4042-9b44-c345e34b5031",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2720,
        110
      ],
      "id": "5fd7a797-3f10-4bb3-b4e9-822e2774157f",
      "name": "transcrição de audio",
      "credentials": {
        "openAiApi": {
          "id": "VIKYtaXJmvOHWvur",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac87c995-b52f-4521-94dd-409531c7d188",
              "name": "Mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        110
      ],
      "id": "6b562ef5-a83b-4d9c-ae75-332adeea7e37",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "content": "Trata Imagem e audio que vem da MegaAPI",
        "height": 880,
        "width": 1520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        -520
      ],
      "id": "bf3be4b7-32b9-4e5f-820a-77fa0603b620",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Simplificação de Dados').item.json.TipoMsg }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2cdab829-f120-45ca-9bb4-5e29a20b4438"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Msg Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1678d51-9541-4f2d-a89b-dd4182921523",
                    "leftValue": "={{ $('Simplificação de Dados').item.json.TipoMsg }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Msg Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9847dc9-c054-4e34-a68e-dce6185b841e",
                    "leftValue": "={{ $('Simplificação de Dados').item.json.TipoMsg }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Msg Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3800,
        -240
      ],
      "id": "9cf119d9-af81-4560-9c7a-1615afed7883",
      "name": "Tipo Resposta"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ JSON.stringify($('AI Agent').item.json.output) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3920,
        60
      ],
      "id": "429c837a-86b7-480b-8fc3-928aa322dec7",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VIKYtaXJmvOHWvur",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Respondendo WhatsApp em audio",
        "height": 292,
        "width": 748,
        "color": 7
      },
      "id": "01fe306b-5288-4d7a-aaa9-bd8a97cd4042",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4080,
        -60
      ]
    },
    {
      "parameters": {},
      "id": "4328e612-dbdd-4dc2-aa00-d0ced160b553",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4680,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MHB2RjOESdc/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MHB2RjOESdc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageData\": {\n    \"to\": \"{{ $('Simplificação de Dados').item.json.ClienteTelefone }}@s.whatsapp.net\",\n    \"text\": {{ JSON.stringify($('AI Agent').item.json.output) }}\n  }\n}\n",
        "options": {}
      },
      "id": "5bbfd535-62a1-4263-8c77-66477331065b",
      "name": "(MEGA-API) Enviar Mensagem(texto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4140,
        60
      ],
      "id": "446efeb3-ada9-4774-a701-c942047d9621",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MHB2RjOESdc/mediaBase64",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MHB2RjOESdc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageData\": {\n    \"to\": \"{{ $('Simplificação de Dados').item.json.ClienteTelefone }}\",\n    \"base64\": \"{{ $json.audio }}\",\n    \"fileName\": \"audio.mp3\",\n    \"type\": \"ptt\",\n    \"caption\": \"\",\n    \"mimeType\": \"audio/ogg; codecs=opus\"\n  }\n}\n",
        "options": {}
      },
      "id": "92c79349-b4a8-4c9c-8601-f12310d04fca",
      "name": "(MEGA-API) Enviar Mensagem1(audio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        60
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3380,
        -40
      ],
      "id": "f4bfd4ee-fa17-410a-a567-69bbc776c354",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VIKYtaXJmvOHWvur",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1197b2de-b394-4dc4-ba32-9822f1a5c87c",
              "name": "audio",
              "value": "=data:audio/mpeg;base64,{{$json.data}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4280,
        60
      ],
      "id": "cee930c1-2d2e-4ba0-b7b4-29912bbea834",
      "name": "audio64"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Filtro Inicial Mensagens": {
      "main": [
        [
          {
            "node": "Simplificação de Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplificação de Dados": {
      "main": [
        [
          {
            "node": "Encontrar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Existe?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Tipo Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrar Cliente": {
      "main": [
        [
          {
            "node": "Cliente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtro Inicial Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "downloadMediaMessage (imagem)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "downloadMediaMessage (audio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar imagem": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadMediaMessage (imagem)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analisar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadMediaMessage (audio)": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "transcrição de audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcrição de audio": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Tipo Resposta": {
      "main": [
        [
          {
            "node": "(MEGA-API) Enviar Mensagem(texto)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(MEGA-API) Enviar Mensagem(texto)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(MEGA-API) Enviar Mensagem(texto)": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(MEGA-API) Enviar Mensagem1(audio)": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "audio64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "audio64": {
      "main": [
        [
          {
            "node": "(MEGA-API) Enviar Mensagem1(audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2fb3249-d910-4215-a90d-976ca372fbc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd3173afe24bd239a195160d1d437dbdd7957c8fd0002c7ca0ea71a09eb146a0"
  },
  "id": "xWcSwlWYpwGfP9pN",
  "tags": [
    {
      "createdAt": "2025-04-11T23:37:06.286Z",
      "updatedAt": "2025-04-11T23:37:06.286Z",
      "id": "EVJ85NiRW5kXzD0T",
      "name": "MegaAPI"
    },
    {
      "createdAt": "2025-04-11T23:36:44.615Z",
      "updatedAt": "2025-04-11T23:36:44.615Z",
      "id": "O4TOhztEemYyWheZ",
      "name": "SupaBase"
    },
    {
      "createdAt": "2025-04-14T21:59:43.789Z",
      "updatedAt": "2025-04-14T21:59:43.789Z",
      "id": "TAmuYuJC3xmwqEOQ",
      "name": "OpenAI"
    },
    {
      "createdAt": "2025-04-11T23:36:39.347Z",
      "updatedAt": "2025-04-11T23:36:39.347Z",
      "id": "mP5uEM6c0luWzDmJ",
      "name": "WhatsApp"
    }
  ]
}
